<p>Average student age: <%= @average_age.round(2) %></p>
<% @students.each do |student| %>
  <section id = "student-<%= student.id %>">
    <p><%= student.name %></p>
    <p><%= student.age %></p>
    <p><%= student.house %></p>
  </section>
<% end %>
